<html>

<head>
    <title>home page</title>
</head>

<body>
    <h1 align="center">user details</h1>
    
    <form action="/form" method="post">
       
        <label for="name">name:</label>
    <input id="name" type="text" name="name"/>
        <br><br>

        <label for="email">email:</label>
        <input id="email" type="text" name="email" required/>
        <br><br>

        <label for="password">password:</label>
        <input id="password" type="password" name="password" required/>
        <br><br>

        <button type="submit" value="submit">submit</button>
        
    



    </form>
</body>

</html>